@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    align-content: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

header{
    padding-top: 15px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: right;
}

li a{
    display: block;
    color: hsl(236, 13%, 42%);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


section{
    display: flex;
    display: -webkit-flex;
}

article{
    -webkit-flex:3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
}

article img{
    width: 900px;
}

nav{
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    padding: 15px;
    border: 1px solid;
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
}

nav h1{
    color: hsl(35, 77%, 62%);
    font-size: 40px;
}


nav p{
    font-size: small;
    font-weight: 400;
    color: hsl(36, 100%, 99%);
    padding-bottom: 20px;
    opacity: .6;
}

hr{
    opacity: .6;
}

.article-content{
    display: flex;
    display: -webkit-flex;
}

.article-content-item1{
    -webkit-flex:1;
    -ms-flex: 1;
   flex: 1;
   padding: 15px;
}

.article-content-item1 h1{
   font-weight: 800;
   font-size: 45px;
}

.article-content-item2{
    -webkit-flex:1;
    -ms-flex: 1;
    flex: 1;
    padding: 15px;
}

button{
    background-color: hsl(5, 85%, 63%);
    width: 30%;
    height: 20%;
    border: none;
}


button a{
    text-decoration: none;
    color: hsl(36, 100%, 99%);
}

footer{
    display: flex;
    display: -webkit-flex;
    padding-top: 20px;
    /* align-items: center; */
}

footer div{
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-item1{
    display: flex;
    display: -webkit-flex;
}

.footer-item2{
    display: flex;
    display: -webkit-flex;
}

.footer-item3{
    display: flex;
    display: -webkit-flex;
}


.footer-item1-two{
    padding-left: 12px;
}

.footer-item2-two{
    padding-left: 12px;
}

.footer-item3-two{
    padding-left: 12px;
}

.footer-item1-two h3{
   color: hsl(236, 13%, 42%);
   font-size: 25px;
   opacity: .6;
}

.footer-item2-two h3{
    color: hsl(236, 13%, 42%);
    font-size: 25px;
    opacity: .6;
}

.footer-item3-two h3{
    color: hsl(236, 13%, 42%);
    font-size: 25px;
    opacity: .6;
}

/* .footer-item1-two h4{
    font-size: medium;
}

.footer-item2-two h4{
    font-size: medium;
}

.footer-item3-two h4{
    font-size: medium;
} */

.footer-item1-two p{
    font-weight: 400;
    font-size: small;
    opacity: .6;
}

.footer-item2-two p{
    font-weight: 400;
    font-size: small;
    opacity: .6;
}

.footer-item3-two p{
    font-weight: 400;
    font-size: small;
    opacity: .6;
}



.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 1440px) {
    section, .article-content, footer, .footer-item1, .footer-item2, .footer-item3  {
      flex: 100%;
    }
}

@media (min-width: 375px) {
    section, .article-content, footer, .footer-item1, .footer-item2, .footer-item3  {
      flex: 100%;
    }
}